.file {
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 10px;
}

.avatar {
  border-radius: 100%;
  object-fit: cover;
}
