
/* default style */
.default {
  background-color: #fff;
  position: sticky;
  top: 60px;
  justify-content: center;
  box-shadow: 0px 5px 6px 0px #bfbfbf69;
}

.default ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.default .menuOption {
  padding: 15px;
  font-size: 17px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.default .menuOptionActive {
  border-bottom: 2px solid #4173b2;
}

/* type clear styles */

.clear{

}

.clear ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.clear .menuOption {
  padding: 15px;
  font-size: 17px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.clear .menuOptionActive {
  color:  #4173b2;
}





@media (max-width: 767px) {
  .default ul {
    overflow-x: scroll;
  }

  .clear ul{
    overflow-x: scroll;
  }
}
