/* default style */
.default {
  background-color: var(--color-white);
  position: sticky;
  top: var(--nav-height);
  justify-content: center;
  box-shadow: var(--shadow-sm);
  z-index: 2;
}

.default ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.default .menuOption {
  padding: 15px;
  font-size: var(--text-lg);
  color: var(--color-gray-700);
  text-decoration: none;
  cursor: pointer;
}

.default .menuOptionActive {
  border-bottom: 2px solid #4173b2;
}

/* type clear styles */

.clear {
}

.clear ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.clear .menuOption {
  padding: 12px;
  font-size: var(--text-lg);
  color: var(--color-gray-600);
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
}
.clear .menuOption:hover {
  background-color: var(--color-gray-300);
}

.clear .menuOptionActive {
  color: var(--primary);
}

@media (max-width: 767px) {
  .default ul {
    overflow-x: scroll;
  }

  .clear ul {
    overflow-x: scroll;
  }
}
