.menu {
  background-color: #fff;
  position: sticky;
  top: 60px;
  justify-content: center;
  box-shadow: 0px 5px 6px 0px #bfbfbf69;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.menuOption {
  padding: 15px;
  font-size: 17px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.menuOptionActive {
  border-bottom: 2px solid #4173b2;
}

@media (max-width: 767px) {
  .menu ul {
    overflow-x: scroll;
  }
}
