.containerLogged {
  margin: auto;
  justify-content: center;
  gap: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

@media (max-width: 767px) {
  .containerLogged {
    margin: 50px auto;
  }
}
