/* Base Button Style */
.btn {
  border: none;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.btn:hover {
  box-shadow: var(--shadow);
  cursor: pointer;
}

.btn:disabled {
  border: 1px solid grey;
  color: grey;
  background-color: #f8f8f8;
}
.btn:disabled:hover {
  text-decoration: line-through;
  border: 1px solid grey;
  color: grey;
  background-color: #f8f8f8;
  box-shadow: none;
  cursor: default;
}

/* .btn:hover {
  color: #ffffff;
  box-shadow: var(--shadow);
  background: rgb(0, 32, 73);
  cursor: pointer;
} */

/* Primary Button Styles */
.primary {
  color: var(--color-white);
  background: var(--primary);
}

.primary:hover {
  color: var(--color-white);
  box-shadow: var(--shadow);
  background: var(--primary);
  cursor: pointer;
}

/* Secondary Button */
.secondary {
  border: solid var(--primary) 1px;
  color: var(--primary);
  background: var(--color-white);
  border-radius: 5px;
  padding: 10px;
}

/* Tertiary Button */
.tertiary{
  border: none;
  background: none;
  color: var(--primary);
  text-decoration: underline;
  box-shadow: none;
  font-weight: bold;
}

.tertiary:hover{
  background: none;
  box-shadow: none;
}


/* Transparent Button Styles */
.transparent {
  border: solid #ffffff 1px;
  color: white;
  background: none;
  border-radius: 5px;
}

.transparent:hover {
  border: solid 1px #4173b2;
  color: #245592;
  background: white;

}
