/* Base Button Style */
.btn {
  border: none;
  border-radius: 7px;
  padding: 12px;
  height: fit-content;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  box-shadow: var(--shadow-lg);
  cursor: pointer;
}

.btn:disabled {
  border: 1px solid var(--color-gray-500);
  color: var(--color-gray-600);
  background-color: var(--color-gray-100);
  box-shadow: none;
}
.btn:disabled:hover {
  text-decoration: line-through;
  background-color: #f8f8f8;
  box-shadow: none;
  cursor: default;
}

/* Primary Button Styles */
.primary {
  color: var(--color-white);
  background: var(--primary);
  box-shadow: var(--shadow-sm);
}

.primary:hover {
  color: var(--color-white);
  background: var(--primary);
  cursor: pointer;
}

/* Secondary Button */
.secondary {
  border: solid var(--primary) 1px;
  color: var(--primary);
  background: var(--color-white);
  box-shadow: var(--shadow-sm);
}

/* Tertiary Button */
.tertiary {
  border: none;
  background: none;
  color: var(--primary);
  text-decoration: underline;
  box-shadow: none;
}

.tertiary:hover {
  background: none;
  box-shadow: none;
}

/* Transparent Button Styles */
.transparent {
  border: solid var(--color-white) 1px;
  color: var(--color-white);
  background: none;
  border-radius: 5px;
}

.transparent:hover {
  border: solid 1px #4173b2;
  color: #245592;
  background: var(--color-white);
}

/* riples */
.ripple {
  width: 20px;
  height: 20px;
  position: absolute;
  background: var(--color-blue-600);
  display: block;
  content: "";
  border-radius: 9999px;
  opacity: 1;
  animation: 0.9s ease 1 forwards ripple-effect;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 0.375;
  }
  100% {
    transform: scale(35);
    opacity: 0;
  }
}

.content {
  position: relative;
  z-index: 2;
}
