.container {
  background: #fff;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}

.date {
  color: grey;
  margin-right: 10px;
}

.avatar {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.title {
  overflow-wrap: anywhere;
  margin-bottom: 5px;
}

.bar {
  margin-bottom: 5px;
}

.cover {
  object-fit: cover;
  width: 100%;
}

.usernameText {
  margin-left: 10px;
}
