.container {
  display: flex;
  min-height: 50px;
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -3px 6px 5px 1px #cecece;
}

.dataContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 10px;
}

.date {
  align-self: flex-end;
  margin-right: 10px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  color: #696969;
}
