.select {
  padding: 10px !important;
  border: none;
  border-radius: 7px;
  background-color: #ffff;
  font-size: var(--text-sm);
  min-width: 100px;
  border-radius: 5px !important;
  position: relative;
  color: var(--color-gray-700);
}
