.secondary {
  color: var(--color-gray-700);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.primary {
  color: var(--primary);
  font-weight: bold;
  display: flex;
  align-items: center;
}
