.messagesContainer {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.scroller {
  display: flex;
  flex-direction: column-reverse;
}

.container {
  height: calc(100vh - 60px);
  background-color: #fff;
  width: 100%;
}

@media (max-width: 767px) {
  .chatFormContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .messagesContainer {
    padding-bottom: 50px;
  }
}
