.container{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    width:60%;
    margin: auto;
}

.form input{
    margin: 10px 0px;
    padding: 15px;
    background-color: #f4f4f4;

}

.btns_container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.check_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.terms_text{
    font-size: 13px;
}

.facebook_button{
    flex:3;
    margin-right:5px;
}

.submit_button{
    flex:2
}


/* ##Device = Most of the Smartphones Mobiles (Portrait) and Low Resolution tablets
  ##Screen = B/w 320px to 767px
*/ 

@media (min-width: 320px) and (max-width: 767px) {
    .form{
        width:90%;
    }
    
}