.container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.form input {
  margin: 10px 0px;
  padding: 15px;
  background-color: #f4f4f4;
}

.check_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.terms_text {
  font-size: var(--text-sm);
  font-weight: 600;
  color: var(--color-gray-700);
  margin-left: 5px;
}

.terms_text a {
  color: var(--color-blue-700);
  text-decoration: underline;
}

.or {
  margin: 15px 0px 15px 0px;
  color: var(--color-gray-500);
  font-weight: 500;
  display: flex;
  justify-content: center;
  position: relative;
}

.or::before {
  margin-right: 10px;
  content: "";
  border-top: 1px solid var(--color-gray-400);
  width: 100%;
  position: relative;
  top: 50%;
}
.or::after {
  content: "";
  margin-left: 10px;
  border-top: 1px solid var(--color-gray-400);
  width: 100%;
  position: relative;
  top: 50%;
}

/* ##Device = Most of the Smartphones Mobiles (Portrait) and Low Resolution tablets
  ##Screen = B/w 320px to 767px
*/

@media (max-width: 767px) {
  .form {
    width: 90%;
  }
}
