.menuContainer {
  position: relative;
}

.menu {
  background-color: #fff;
  position: absolute;
  right: 0;
  width: 150px;
  padding: 10px;
  padding-top: 0px;
  border: solid 1px #b5b5b5;
  list-style: none;
  z-index: 1;
}

.menu li {
  margin-top: 10px;
}
