.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  flex-direction: column;
  color: #fff;
  border-radius: 12px 12px 0px 0px;
}

.text {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

/* Device = Most of the Smartphones Mobiles
(Portrait) and Low Resolution tablets */
@media (max-width: 768px) {
  .text {
    font-size: 28px;
  }

  .container {
    border-radius: 0px;
  }
}
