.container {
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color: #fff;
  justify-content: center;
  padding: 15px;
  margin: 10px;
  align-items: center;
  border-radius: 15px;
  box-shadow: -3px 6px 5px 1px #cecece;
}

.image {
  width: 125px;
}

.avatar {
  margin-top: 5px;
  margin-bottom: 5px;
}

.text {
  background-color: #6495ed;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

.arrow {
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #6495ed;
}
