.gifts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.giftPreview {
  align-items: center;
  justify-content: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 70px;
}
.giftPreview img {
  width: 50px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.submitButton {
  margin-top: 10px;
}
