.header {
  background: var(--color-white);
  border: 1px solid var(--color-gray-400);
  margin: auto 10px;
  border-radius: 10px;
  box-shadow: var(--shadow-sm);
  overflow: clip;
  display: flex;
  flex-direction: column;
}
