.authContainer {
  display: flex;
  flex: 4;
  flex-direction: column;
}

.title {
  font-size: 33px;
  margin: 100px 0px 80px 0px;
  text-align: center;
  color: var(--primary);
  font-weight: 400;
}

.call_to_action {
  margin: auto;
}

/* .hello {
  width: 400px;
  z-index: -1;
  position: absolute;
  bottom: 0px;
  align-self: flex-end;
} */

.container_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* ##Device = Most of the Smartphones Mobiles (Portrait) and Low Resolution tablets
  ##Screen = B/w 320px to 767px
*/

@media (max-width: 767px) {
  .title {
    font-size: 33px;
    margin: 20px 0px 20px 0px;
  }

  .hello {
    display: none;
  }

  .container_button {
    margin: 20px auto 20px auto;
  }
}
