.notification {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  width: 100%;
}

.content {
  margin-left: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.info {
  flex-wrap: wrap;
}

.date {
  align-self: flex-end;
  margin-right: 10px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  color: #696969;
}

.username {
  font-weight: bold;
  margin-right: 3px;
}

.link {
  font-weight: bold;
  overflow-wrap: anywhere;
  color: var(--primary);
}
