.confirmButton {
  border: solid var(--color-white) 1px;
  color: var(--color-white);
  background: var(--primary);
  border: none;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2px;
  font-weight: bold;
}

.confirmButton:hover {
  color: var(--color-white);
  box-shadow: var(--shadow-md);
  background: var(--primary);
  cursor: pointer;
}

.cancelButton {
  border: solid var(--color-white) 1px;
  color: var(--color-white);
  font-weight: bold;
  background: #a3a3a3;
  border: none;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2px;
}

.cancelButton:hover {
  color: var(--color-white);
  box-shadow: var(--shadow-md);
  cursor: pointer;
}

.htmlContainer {
  overflow: visible !important;
}
