.confirmButton {
  border: solid #ffffff 1px;
  color: white;
  background: #4173b2;
  border: none;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2px;
  font-weight: bold;

}

.confirmButton:hover {
  color: #ffffff;
  box-shadow: 0px 0px 5px 3px #b8b8b852;
  background: #4173b2;
  cursor: pointer;
}

.cancelButton {
  border: solid #ffffff 1px;
  color: white;
  font-weight: bold;
  background: #a3a3a3;
  border: none;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2px;
}

.cancelButton:hover {
  color: #ffffff;
  box-shadow: 0px 0px 5px 3px #b8b8b852;
  cursor: pointer;
}


.htmlContainer{
  overflow: visible !important; ;
}