.box {
  background-color: var(--color-white);
  margin: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow-sm);
}

.container {
  width: 100%;
}

.avg {
  color: var(--color-gray-600);
  font-size: 48px;
}

.text {
  font-size: 14px;
  color: var(--color-gray-600);
}
