.container {
  background-color: aqua;
  height: 100vh;
  flex: 5;
  background: url(../../../assets/images/bg-welcome.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 132px;
  margin: 25px;
}

.title {
  font-size: 37px;
  margin: 100px 0px 100px 0px;
  text-align: center;
  color: white;
  font-weight: 400;
}

.paragraph {
  margin: 80px 0px 80px 0px;
  text-align: center;
  font-size: 20px;
  color: white;
}

.call_to_action {
  margin: auto;
  cursor: pointer;
}

.btns-container {
  display: flex;
}

/* media querys */

/* ##Device = Most of the Smartphones Mobiles (Portrait) and Low Resolution tablets
  ##Screen = B/w 320px to 767px
*/

@media (max-width: 767px) {
  .paragraph {
    margin: 20px 0px 20px 0px;
    text-align: center;
    font-size: 20px;
    color: white;
  }

  .title {
    font-size: 30px;
    margin: 15px 0px 10px 0px;
  }

  .call_to_action {
    padding: 15px;
    width: 200px;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
