.title {
  margin: 20px 5px;
}

.images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
}

.image {
  width: 150px;
  margin: 10px;
}

.text {
  padding: 5px;
}
