.title {
  margin: 20px 5px;
}

.images {
  padding: 10px;
  grid-gap: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.form {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
}

.text {
  padding: 5px;
}
