.container {
  margin: 20px;
  border-radius: 15px 15px 0px 0px;
}
.header {
  background-color: #ffff;
}

.infoTop {
  margin-bottom: 10px;
}

.username {
  margin: 10px;
  margin-bottom: 5px;
  word-break: break-word;
}
.usernameInfoAndButtons {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  margin-top: -25px;
  margin-left: 10px;
  align-self: flex-start;
}

.pointer {
  cursor: pointer;
}

.buttons {
  align-items: center;
  justify-content: flex-start;
  margin-right: 25px;
}

.stats {
  text-align: center;
  justify-content: space-evenly;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media (max-width: 767px) {
  .container {
    margin: 0px;
    border-radius: 0px;
  }

  .usernameInfoAndButtons {
    flex-direction: column;
  }

  .buttons {
    margin-right: 0px;
    flex-wrap: wrap;
  }
}
