.container {
  display: flex;
  min-height: 50px;
  background-color: var(--color-white);
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow-sm);
}

.dataContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 10px;
}

.date {
  margin-right: 10px;
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  color: var(--color-gray-600);
}

.text {
  color: var(--color-gray-700);
  word-break: break-all;
  white-space: pre-wrap;
}

.actions {
  color: var(--primary);
  font-size: 11px;
  display: flex;
}
.actions span {
  cursor: pointer;
  margin-right: 5px;
  font-weight: 600;
}

.loadMore {
  color: var(--primary);
  font-size: 12px;
  cursor: pointer;
}

.delete {
  color: var(--error);
}
