.confirmButton {
  border: solid var(--color-white) 1px;
  color: var(--color-white);
  background: var(--primary);
  border: none;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2px;
}

.confirmButton:hover {
  color: var(--color-white);
  box-shadow: var(--shadow-m);
  background: #4173b2;
  cursor: pointer;
}

.cancelButton {
  border: solid var(--color-white) 1px;
  color: var(--color-white);
  background: var(--error);
  border: none;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2px;
}

.cancelButton:hover {
  color: var(--color-white);
  box-shadow: var(--shadow-md);
  cursor: pointer;
}
