.form{
    display: flex;
}

.input{
    border-radius: 7px 0px 0px 7px;
    background-color: var(--color-white);
    border: none;
}

.icon{
    width:15px;
    margin-right: 10px;
}



.button{
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    border: none;
    border-radius: 0px 7px 7px 0px;
    padding: 5px;
}

.button:hover{
    cursor: pointer;
}