.form {
  display: flex;
}

.input::placeholder {
  color: var(--color-gray-600);
}

.input {
  border-radius: 10px 0px 0px 10px;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-400);
  border-right: none;
  width: 300px;
}

.input:focus {
  outline: none;
}

.icon {
  width: 15px;
  margin-right: 10px;
}

.button {
  display: flex;
  align-items: center;
  background-color: none;
  background-color: var(--color-gray-200);
  border-radius: 0px 10px 7px 0px;
  padding: 5px;
  border: 1px solid var(--color-gray-400);
  border-left: none;
}

.button:hover {
  cursor: pointer;
}

/* Device = Most of the Smartphones Mobiles (Portrait) and Low Resolution tablets
  Screen = B/w 320px to 767px
*/

@media (max-width: 768px) {
  .input {
    width: 100%;
  }
}
