.gifts {
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.form {
  display: flex;
  flex-direction: column;
}
.giftPreview {
  align-items: center;
  justify-content: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90px;
}
.giftPreview img {
  width: 50px;
}

.submitButton {
  margin-top: 10px;
}
