.title {
  margin: 20px 5px;
}

.form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 10px;
}


.editor{
  background-color: #fff;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;

}