.container {
  padding: 10px;
}

.headerContainer {
  background-color: #fff;
  border-radius: 12px 12px 0px 0px;
}

.infoList {
  margin-top: 10px;
  list-style: none;
}

.icon {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.plus {
  margin-left: 5px;
}

.joinButton {
  margin-left: auto;
  margin-bottom: 10px;
}

/* Device = Most of the Smartphones Mobiles
(Portrait) and Low Resolution tablets */
@media (max-width: 768px) {
  .container {
    padding: 0px;
    border-radius: 0px;
  }

  .headerContainer {
    margin: 0px;
    border-radius: 0px;
  }

  .joinButton {
    margin: unset;
    margin-bottom: 10px;
  }
}
