.facebook_button img{
    margin-left:5px;
}

.facebook_button{
    padding: 10px;
    border-color:#4173B2;
    flex:3;
    display: flex;
    justify-content: center;
    align-items: center;
}


.facebook_logo{
    width:20px;
}