.date {
  color: grey;
  margin-right: 10px;
}

.header {
  margin: 10px;
  padding: 15px;
  background: white;
  border: 1px solid #b9b9b9;
  margin-bottom: 20px;
  box-shadow: -5px 8px 0px 0px #308cb8;
}

.avatar {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.usernameText {
  cursor: pointer;
}
.content {
  background-color: #fff;
  padding: 10px 25px;
  border: 1px solid #b9b9b9;
}

.actionButtons {
  margin: 10px 0px;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .actionButtons {
    flex-direction: column;
    margin: 10px 0px;
    align-items: unset;
  }

  .content {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #b9b9b9;
  }
}
