.date {
  color: grey;
  margin-right: 10px;
}

.header {
  margin: 10px;
  padding: 15px;
  background: var(--color-white);
  border: 1px solid var(--color-gray-400);
  margin-bottom: 20px;
  box-shadow: -5px 8px 0px 0px #308cb8;
}

.avatar {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.usernameText {
  cursor: pointer;
}
.content {
  background-color: var(--color-white);
  padding: 10px 15px;
  border: 1px solid var(--color-gray-400);
}

.actionButtons {
  margin: 10px 0px;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 767px) {
  .actionButtons {
    justify-content: center;
  }

  .content {
    background-color: var(--color-white);
    padding: 5px;
    border: 1px solid #b9b9b9;
  }
}
