.fileInput {
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.button {
  border: solid var(--primary) 1px;
  color: var(--primary);
  background: var(--color-white);
  border-radius: 5px;
  padding: 7px;
}

.button:hover {
  border: solid 1px var(--primary);
  color: var(--color-white);
  box-shadow: var(--shadow-md);
  background: rgb(0, 32, 73);
  cursor: pointer;
}
